<div class="col-md-8">
	<table class="table table condensed">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Nick</th>
				<th>Vinn</th>
				<th>Tap</th>
				<th class="text-right"></th>
			</tr>
			<tr ng-repeat="player in players track by $index">
				<td>
					<strong>{{ player.name }}</strong>&nbsp;
					<a data-toggle="modal" data-target="#modaledit" ng-click="updatePlayer(player)"><small>rediger</small></a>
				</td>
				<td>{{ player.nickname }}</td>
				<td>{{ player.wins || 0 }}</td>
				<td>{{ player.losses || 0 }}</td>
				<td class="text-right"><a confirm="removePlayer(player.userid)" confirm-popup-message="Er du sikker på at du vil slette spilleren?"><i class="fa fa-remove"></i></a></td>
			</tr>
		</thead>
	</table>
</div>
<div class="col-md-4">
	<button data-toggle="modal" data-target="#modalnew" class="btn btn-default btn-lg btn-block">Legg til spiller</button>
</div>

<div class="modal fade" modal="new" id="modalnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	    	 <h4 class="modal-title">Legg til Spiller</h4>
	    </div>
      <div class="modal-body">
      	<form class="form-horizontal" name="player">
      		<div class="form-group">
      			<div class="col-md-12">
      				<input class="form-control" type="text" ng-model="modalobj.name" placeholder="Navn" />
      			</div>
      		</div>
      		<div class="form-group">
      			<div class="col-md-12">
      				<input class="form-control" type="text" ng-model="modalobj.nickname" placeholder="Nick" />
      			</div>
       		</div>
      	</form>
      </div>
      <div class="modal-footer">
    		<button class="btn btn-sm btn-success" ng-click="save();">Legg til</button>
    	</div>
     </div>
  </div>
</div>

<div class="modal fade" modal="edit" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	    	 <h4 class="modal-title">Rediger spiller</h4>
	    </div>
      <div class="modal-body">
      	<form class="form-horizontal" name="player">
      		<div class="form-group">
      			<div class="col-md-12">
      				<input class="form-control" type="text" ng-model="modalobj.name" />
      			</div>
      		</div>
      		<div class="form-group">
      			<div class="col-md-12">
      				<input class="form-control" type="text" ng-model="modalobj.nickname" />
      			</div>
       		</div>
      	</form>
      </div>
      <div class="modal-footer">
    		<button class="btn btn-sm btn-success" ng-click="save();">Legg til</button>
    	</div>
     </div>
  </div>
</div>